body {
    margin: 0;
    padding: 0;
    font-family: "Barlow";
    background-color: #FFFFFF;
}

.order-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}

.order-header {
    background-color: #ce2829;
    color: #FFFFFF;
    padding: 2rem 0;
    width: 100%;
}

.order-header h1 {
    font-size: 2rem;
    margin-top: 0;
    font-weight: bold;
    text-align: center;
}

.order-content {
    max-width: 600px;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pizza-info {
    background-color: #faf7f2;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.pizza-info-add {
    max-width: 600px;
    width: 100%;
    padding: 0 1rem;
    text-align: left;
}

.pizza-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-bottom: 1rem;
}

.pizza-info p {
    margin: 1rem 0;
}

.pizza-info p a {
    color: #5F5F5F;
    text-decoration: none;
}

.pizza-info p span {
    font-weight: 500;
    color: #CE2829;
}

.pizza-info h2 {
    color: #292929;
    font-size: 1.5rem;
    margin: 1rem 0;
}

.pizza-price-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.pizza-price-rating h3 {
    color: #292929;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

.rating {
    color: #5F5F5F;
    font-size: 1rem;
}

.pizza-description {
    color: #5F5F5F;
    font-size: 1rem;
    line-height: 1.5;
}

Form {
    width: 100%;
    max-width: 600px;
    padding: 0 1rem;
}

.order-content Form {
    align-items: flex-start;
    text-align: left;
}

.size-dough {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 1.5rem;
}

.size-section, .dough-section {
    flex: 1;
    width: 100%;
    margin-bottom: 2rem;
}

label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
    color: #292929;
}

.size-options {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
}

.size-option {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FAF7F2;
    color: #5F5F5F;
    cursor: pointer;
    transition: all 0.3s ease;
}

.size-option.selected, .size-option:hover {
    background-color: #FFEECC;
}

.size-option input {
    display: none;
}

.dough-select {
    background-color: #FAF7F2 !important;
    border-radius: 5px !important;
    border: 1px solid #FAF7F2 !important;
    padding: 0.75rem !important;
    color: #5f5f5f !important;
    font-size: 1rem !important;
    appearance: none; 
}

select, textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #FAF7F2;
    background-color: #FAF7F2;
    color: #5f5f5f;
    border-radius: 5px;
}

.extras-info {
    color:#5F5F5F;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.extra-options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-top: 1rem;
}

.checkbox-container {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 50px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1rem;
    color:#5F5F5F;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor:pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
    width: 35px;
    background-color: #FAF7F2;
    border-radius: 5px;
}

.checkbox-container:hover input ~ .checkmark {
    background-color: #FFEECC;
}

.checkbox-container input:checked ~ .checkmark {
    background-color: #FDC913;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    color: black;
    font-size: 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.checkbox-container input:checked ~ .checkmark {
    display: block;
}

.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 12px;
    top: 7px;
    width: 10px;
    height: 15px;
    border: solid black;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.note-textarea {
    background-color: #FAF7F2 !important;
}

.order-summary {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 2rem;
    width: 100%;
}

.quantity-selector {
    display:flex;
    align-items: center;
}

.quantity-selector button {
    background-color: #FDC913;
    border: none;
    color:#292929;
    font-size: 1.2rem;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.quantity-selector span {
    margin: 0 1rem;
    font-size: 1.2rem;
}

.order-total {
    background-color: #FAF7F2;
    padding: 1rem;
    border-radius: 8px;
    flex-grow: 1;
    margin-left: 3rem;
    font-weight: bold;
}

.order-total h1 {
    color: #292929;
    font-size: 1.2rem;
    margin: 1rem;
}

.total-row {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 1rem;
}

.total-row p {
    margin: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.total-row:last-child p {
    font-weight: bold;
    color: #CE2829 !important;
}

button[type="submit"] {
    background-color: #FDC913;
    border: none;
    color: #292929;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.75rem;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    margin-top: 1rem;
}

@media screen and (max-width: 768px) {
    
    .order-content {
        padding: 0 1rem;
    }

    .size-dough {
        flex-direction: row;
    }

    .size-section, .dough-section {
        flex: 1;
        width: calc(50% - 1rem);
    }

    .size-options {
        justify-content: space-between;
    }

    .extra-options {
        grid-template-columns: repeat(2, 1fr);
    }

    .order-total {
        width: 100%;
    }

    .quantity-selector button {
        width: 40px;
        height: 40px;
    }
}