body {
    margin: 0;
    padding: 0;
    font-family: "Barlow";
}

.order-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.order-header {
    background-color: #ce2829;
    color: #FFFFFF;
    padding: 1rem 0;
}

.order-header h1 {
    font-size: 2rem;
    margin-top: 1rem;
    font-weight: bold;
    text-align: center;
}

.order-header p {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    margin-right: 15%;
}

.order-header p a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 300;
}

.order-header p span {
    font-weight: bold;
}

.order-content {
    flex: 1;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    text-align: left;
    padding: 1rem;
}

.order-card {
    max-width: 768px;
    width: 100%;
    border: none !important;
    box-shadow: none !important;
}

.order-card h2 {
    color: #292929;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.order-card h3 {
    color: #292929;
    font-size: 1.5rem;
    display: inline-block;
    margin-right: 75%;
}

.order-card span {
    color: #292929;
    font-size: 1rem;
}

.size-dough {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 1.5rem;
}

.size-section, .dough-section {
  flex: 1;
  margin-bottom: 2rem;
}

label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

.size-options {
    display: flex;
    flex-direction: column;
}

.size-options label, .extra-options label {
    font-weight: normal;
    margin-bottom: 0.5rem;
}

.extra-options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    margin-top: 0.5rem;
}

select, textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.quantity-selector {
    display: flex;
    align-items: center;
    
}

.quantity-selector button {
    background-color: #FDC913;
    border: none;
    color: #292929;
    font-size: 1.2rem;
    width: 30px;
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.quantity-selector span {
    margin: 0 1rem;
    font-size: 1.2rem;
}

.order-summary {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 2rem;
    padding: 1rem;
    background-color: #FFFFFF;
    
}

.order-math {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem 2rem;
    border-radius: 5px;
}

.order-total {
flex-grow: 1;
margin-left: 3rem;
}

.order-total h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.order-total p {
    margin: 0.5rem 0;
    display: flex;
    justify-content: space-between;
}

.order-total p:last-child {
    margin-top: 1rem;
    font-weight: bold;
    color: #ce2829;
}

button[type="submit"] {
    background-color: #FDC913;
    border: none;
    color:#292929;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.75rem;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    .order-header p {
      margin-right: 35%;
    }

    .order-content {
        padding: 1rem;
    }

    .order-card h2 {
        font-size: 20px;
    }

    .order-card h3 {
        margin-right: 0;
        display: block;
    }

    .size-dough {
        flex-direction: row;
        gap: 1rem;
    }

    .size-section, .dough-section {
        margin-bottom: 1rem;
        width: 50%;
    }

    .extra-options {
        grid-template-columns: repeat(2, 1fr);
    }

    .order-summary {
        flex-direction: column;
        align-items: stretch;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .order-total {
        margin-left: 0;
        order: -1;
        width: 100%;
    }

    .order-math {
        margin-bottom: 1rem;
        padding: 2rem;
    }

    .order-math h1 {
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    .quantity-selector {
        order: 1;
        justify-content: flex-start;
        margin-top: 1rem;
    }

    button[type="submit"] {
        order: 2;
        width: auto;
        padding: 0.5rem 1rem;
        margin-top: 1rem;
        align-self: flex-end;
    }
}
