body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.success-page {
    background-color: #ce2829;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
}

.success-header {
    padding: 1rem;
    text-align: center;
}

.success-header h1 {
    margin-top: 5rem;
    font-size: 2rem;
    font-weight: medium;
}

.success-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center
}

.success-content p {
    font-family: 'Roboto Condensed';
    font-size: 70px;
    font-weight: 300;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .success-header h1 {
        margin-top: 7rem;
        font-size: 30px;
    }

    .success-content {
        justify-content: flex-start;
        padding-top: 7rem;
    }

    .success-content p {
       font-size: 70px;
       line-height: 1.2;
    }

    .success-content p:first-child {
        margin-bottom: 1rem;
    }

    .success-content p span {
        display: block;
    }
}